{% extends "users/base.html" %}
{% block title %} Annonse {% endblock title%}
{% block content %}
    <div>
        <div>
            <form action="" method="GET">
                <i id="search-icon" class="fas fa-search"></i>
                <input id="user-input" type="text" placeholder="Søk etter et produkt..." name="q" style="font-size: 16px;">
                <br>
                <br>
                <label>Kategori: </label>
                <select id="category-choice" name="qs" style="font-size: 16px;">
                    <option value="">--</option>
                    <option value="1">Saging</option>
                    <option value="2">Maling</option>
                    <option value="3">Sveising</option>
                    <option value="4">Kutt/Kapping</option>
                    <option value="5">Skruverktøy</option>
                    <option value="6">Slagverktøy</option>
                    <option value="7">Annet</option>
                </select>
                <p></p>
                <label>Pris: </label>
                <input type="text" id="min-price" min="0" name="min_price" maxlength="4" size="3" >
                til <input type="text" id="max-price" name="max_price" maxlength="4" size="3"> 
            </form>
        </div>
        
        <div id="replaceable-content">
            {% include 'listing_overview_partial.html' %}
        </div>
    </div>
{% endblock content %}
